{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "job-temporal.fullname" . }}
  labels:
    {{- include "job-temporal.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  {{- with .Values.ingress.tls }}
  tls:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  rules:
    {{- if .Values.ingress.serverHost }}
    - host: {{ .Values.ingress.serverHost | quote }}
      http:
        paths:
          - path: /webhook
            pathType: Prefix
            backend:
              service:
                name: {{ include "job-temporal.fullname" . }}-server
                port:
                  name: http
    {{- end }}
    {{- if .Values.ingress.triggerServerHost }}
    - host: {{ .Values.ingress.triggerServerHost | quote }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "job-temporal.fullname" . }}-trigger-server
                port:
                  name: http
    {{- end }}
{{- end }}
